@model IEnumerable<GesStaDemo.Models.Entities.Remuneration>

@{
    ViewBag.Title = "Consultation des rémunérations";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Liste des rémunérations</h2>
<div>
    <a href="@Url.Action("Imprimer","Remuneration")" style="text-decoration:none;">Imprimer<i class="fa fa-print"></i></a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Règlement mensuel")
        </th>
        <th>
            @Html.DisplayName("Date de remise")
        </th>
        <th>
            @Html.DisplayName("Stagiaire")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegleMens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRemiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stagiaire.NomSta)
        </td>
        <td>
            <a href="@Url.Action("Edit","Remuneration", new { id = item.CodRem})" class="btn btn-primary"><i class="fa fa-pen-alt"></i></a>
            <a href="@Url.Action("Details","Remuneration", new { id =item.CodRem})" class="btn btn-success"><i class="fa fa-bookmark"></i></a>
            <a href="@Url.Action("Delete","Remuneration<", new { id = item.CodRem})" class="btn btn-danger"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>
