@model GesStaDemo.Models.Entities.Direction

@{
    ViewBag.Title = "Détails de la direction";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>@Model.CodDir</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Libellé de la direction")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibDir)
        </dd>

        <dt>
            @Html.DisplayName("Action")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActDir)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index","Direction")" type="submit" value="" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
</p>
