@model GesStaDemo.Models.Entities.Rapport

@{
    ViewBag.Title = "Suppression du rapport";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>@Model.CodRapp</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nom du rapport")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomRapp)
        </dd>

        <dt>
            @Html.DisplayName("Tâches")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taches)
        </dd>

        <dt>
            @Html.DisplayName("Date de présentation")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePresentat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    <a href="" type="reset" value="" class="btn btn-default"><i class="fa fa-redo"></i></a>
    <a href="@Url.Action("Index","Rapport")" type="submit" value="" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
</div>
    }
</div>
