<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GeSTA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-expand-sm navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-link active"><a href="@Url.Action("Index", "Offre")" style="background-color:dodgerblue;"><i class="fa fa-home" style="color:floralwhite;"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Details","Utilisateur")"><img src="~/Image/Img1.jpg" name="Photo" alt="photo de profil"/>@Session["Login"]</a></li>
                <li>@Html.ActionLink("Mon compte", "Edit", "Utilisateur")</li>
                <li> @Html.ActionLink("Deconnexion", "Deconnexion", "Login")</li>                  
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GeSTA</p>
        </footer>
    </div>
    <style>
        .collapse, a {
            text-decoration: none;
        }
        a {
            text-decoration: none;
        }
        img {
            top: 0;
            bottom: -5px;
            border: 15px thick white;
            border-radius: 45px 45px;
            width: 30px;
            height: 30px;
            padding: 0px -40px 10px 50px;
        }
        li, a {
            list-style: none;
            text-decoration: none;
        }
    </style>
</body>
</html>