@model GesStaDemo.Models.Entities.Section

@{
    ViewBag.Title = "Détails de la section";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>@Model.CodSec</h2>

<div>
   
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Division")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.LibDiv)
        </dd>

        <dt>
            @Html.DisplayName("Libellé de la section")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibSec)
        </dd>

        <dt>
            @Html.DisplayName("Action de la section")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActSec)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index","Section")" type="submit" value="" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
</p>
