@model IEnumerable<GesStaDemo.Models.Entities.Division>

@{
    ViewBag.Title = "Consultation des divisions";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Liste des divisions</h2>
<div>
    <a href="@Url.Action("Imprimer","Division")" style="text-decoration:none;">Imprimer<i class="fa fa-print"></i></a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Direction")
        </th>
        <th>
            @Html.DisplayName("Libellé de la division")
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direction.LibDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibDiv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActDiv)
            </td>
            <td>
                <a href="@Url.Action("Edit","Division", new { id = item.CodDiv})" class="btn btn-primary"><i class="fa fa-pen-alt"></i></a>
                <a href="@Url.Action("Details","Division", new { id = item.CodDiv})" class="btn btn-success"><i class="fa fa-bookmark"></i></a>
                <a href="@Url.Action("Delete","Division", new { id = item.CodDiv})" class="btn btn-danger"><i class="fa fa-trash"></i></a>
        </tr>
    }

</table>
