@model GesStaDemo.Models.Entities.Utilisateur

@{
    ViewBag.Title = "Suppression d'un utilisateur";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}




<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nom d'utilisateur")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayName("Mot de passe")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    <a href="" type="reset" value="" class="btn btn-default"><i class="fa fa-redo"></i></a>
    <a href="@Url.Action("Index","Utilisateur")" type="submit" value="" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
</div>
    }
</div>
